<h1 id="heading"  align="center"> Pathway to Data Science - Python Basic</h1>

<h3 align="center"> Surya Lamichhane</h3>

<h2 id="Firstcode">Python basic</h2>

### Notes on Jupytor-notebook 
<a> href= https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook >Link to Datacamp</a>

<a> href= https://www.datacamp.com/tutorial/tutorial-jupyter-notebook >Link to Datacamp</a>

__[text link](url https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook)__

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#hello">Say "Hello" to the world in Python</a>
            <ul>
                <li><a href="version">Check version of the Python that we are using</a></li>
                <li><a href="comments">Comments in Python</a></li>
                <li><a href="errors">Errors in Python</a></li>
            </ul>
        </li>
        <li>
            <a href="#types_objects">Types of objects in Python</a>
            <ul>
                <li><a href="int">Integers</a></li>
                <li><a href="float">Floats</a></li>
                <li><a href="convert">Converting object types</a></li>
                <li><a href="bool">Boolean data type</a></li>
            </ul>
        </li>
        <li>
            <a href="#expressions">Expressions and Variables</a>
            <ul>
                <li><a href="exp">Expressions</a></li>
                <li><a href="var">Variables</a></li>
            </ul>
        </li>
    </ul>
</div>
<hr>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a function. We passed the string <code>'Hello World!'</code> as an argument to instruct Python on what to print.
</div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip]: To execute the Python code in the code cell, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
The code is executed and new cell is shown.
</div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip]: To execute the Python code in the code cell whithout moving to the new cell, click on the cell to select it and press <kbd>Ctrl</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [1]:
print("Hello world!")

Hello world!

<h3 id="version">Check the version of Python that we are using</h3>

In [2]:
# Check the Python Version
import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

<h3 id="comments">Comments in Python</h3>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Describing the code block by using the comment is best way of writing the code. It will not help only the reader to understand the codes, but also to the coder when he/she check them after a while.
</div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
     [Tip:] We use the number symbol # before comment line (as in R ). When we run our code, Python will ignore everything past the # on a given line.
</div>
<hr/>  

An example is given below:

In [3]:
# Example of comments
x = 4
y = 5
sum_x_y = x + y
print(sum_x_y) # Print is a function that prints the sum of x and y.

9

<h3 id="errors">Command Errors in  Python</h3>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
When we made common errors, Python will show the error message after code executation. So we need to read error messages carefully to find where we made mistake(s) and how we may go about fixing them.
</div>
<hr/>

In [4]:
# Print sum as error message

print(sum_xy) # Print is a function that prints the sum of x and y.

NameError: name 'sum_xy' is not defined

<h2 id="types_objects">Types of objects in Python</h2>

 Python is an object-oriented language which uses different types of objects. Mainly the most common types are:
* strings : The words (or text) we use in Python are called character strings (or strings). 
* integers : The integers are the whole numbers (e.g. ..., -2,-1, 0,1,2, ....)
* floats: The floats represent real numbers (e.g. 1.4, -2.0).
* Boolean: An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

<hr/>
<p>
We can ask Python to find the the type of an expression by using the built-in <code>type()</code> function. Python uses  <code>int</code>, <code>float</code>, and <code>str</code> to refer integers, floats and character strings respectively.
<hr/>
<p>

In [ ]:
# Type of "Hello!"

type("Hello!")

In [ ]:
# Type of 51

type(51)

In [ ]:
# Type of 5.1

type(5.1)

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>We can change the type of the object in Python; this method is called typecasting.
For example, we can convert an <i>integer</i> into a <i>float</i> (e.g. 5 to 5.0).</p>
<p>Example is here:</p>

In [ ]:
# Convert 5 to a float

float(5)

In [5]:
# Convert 5.1 to a float

int(5.1)

5

In [6]:
# Convert a string into an integer

int('4')

4

In [7]:
# Convert a string into a float
# we can also convert strings containing floating point numbers into float objects

float('4.2')

4.2

In [8]:
# we cannot  convert strings containing floating point numbers into integers

int('4.2')

ValueError: invalid literal for int() with base 10: '4.2'

In [9]:
# Convert an integer to a string

str(4)

'4'

<h3 id="bool">Boolean data type</h3>

An object of type <i>Boolean</i> can take on one of two  boolean values: <code>True</code> or <code>False</code>:</p>

In [10]:
# Type of True

type(True)

bool

In [11]:
# Type of False

type(False)

bool

In [12]:
# Convert True to int

int(True)

1

In [13]:
# Convert False to int

int(False)

0

In [14]:
# Convert 1 to boolean

bool(1)

True

In [15]:
# Convert 0 to boolean

bool(0)

False

- Few examples:

In [16]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

In [17]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6 // 2)

int

<h2 id="expressions">Expression and Variables</h2>

<p>Python easily handle basic arithmatic operations for the compatible data types (e.g., integers and floats). Similarly, varaibles can be defined to store the value(s) in Python:</p>

<h3 id="Expression">Expression</h3>

In [18]:
# arithmatic operation sum
12 + 23 + 15

50

In [19]:
# division 
12/3

4.0

In [20]:
# integer division
12 // 3

4

In [21]:
# integer division
12 // 5

2

In [22]:
# Mathematical expression

(14 + 2) * 4 + 5/2

66.5

<h3 id="var">Variables</h3>

In [23]:
# Assign a varaible for an expression

x = 4 + 6 + 16 + 4

# print x

x

30

In [24]:
# Define a new variable y from a new expression of x

y = (x + 2) / 4
y

8.0

If we assign a new value to an existing variable, the new value will replace the previous value. Replacing by a new value will be useful when we are keep updating the variable; however, we lose the existing values.

In [25]:
# overwrite the value of x
x = (x + 2) / 4

x

8.0

A good practice to assign a variable is by using it's proper meaning, so a reader can understand the code easily:

In [26]:
# Name the variables in a meaningful way
# perimeter of a traingle with side lengths 12, 13, 5

Perimeter_triangle = 12 + 13 + 5 # in inches
Perimeter_triangle

30

In [27]:
# variables in a meaningful way
inches_in_ft = 12
Perimeter_triangle_ft = Perimeter_triangle / inches_in_ft  # perimeter of a traingle in feet
Perimeter_triangle_ft

2.5

<h2>String Operations</h2>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#strings">What are Strings?</a>
        </li>
        <li>
            <a href="#index">Indexing</a>
            <ul>
                <li><a href="neg">Negative Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="stride">Stride</a></li>
                <li><a href="concat">Concatenate Strings</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Escape Sequences</a>
        </li>
        <li>
            <a href="#operations">String Operations</a>
        </li>
</div>

<hr>

<h2 id="strings">What are Strings?</h2>

The text documents that are used in Python are called strings which need to be quoted either by single quote '..' or double quote " .. " .

In [28]:
# strings need to be quoted either by single quote '..' or double quote " .. "
Tallest_mountain = "Mt. Everest"
Tallest_mountain

'Mt. Everest'

In [29]:
# Single quote
Tallest_mountain = 'Mt. Everest'
Tallest_mountain

'Mt. Everest'

In [30]:
# Digits and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [31]:
# Spacial characters in string
'#@%&_$'

'#@%&_$'

In [32]:
# Print the string

print("Mt. Everest")

Mt. Everest

<h2 id="index">Indexing</h2>

We can think of the characters of a string as an ordered sequence. Each element in the sequence of letters can be accessed using an index represented by the array of numbers: 
<hr/>
<table>
<tr>
<td>M</td>
<td>t</td>
<td>.</td>
<td></td>
<td>E</td>
<td>v</td>
<td>e</td>
<td>r</td>
<td>e</td>
<td>s</td>
<td>t</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
</tr> 
</table>
<hr/>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: In Python indexing starts at 0, so the first index is 0.
</div>
<hr/>

In [33]:
# Print the first element in the string named Tallest_mountain

print(Tallest_mountain[0])

M

In [34]:
# Print the fourth element in the string named Tallest_mountain

print(Tallest_mountain[4])

E

<h3 id="neg">Negative Indexing</h3>

We can use negative indexing with strings to extract the element of the strings. The way of assigning negative indexing follows as  last element as -1, second last as -2 and so on.

<hr/>
<table>
<tr>
<td>M</td>
<td>t</td>
<td>.</td>
<td></td>
<td>E</td>
<td>v</td>
<td>e</td>
<td>r</td>
<td>e</td>
<td>s</td>
<td>t</td>
</tr>
<tr>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr> 
</table>
<hr/>

In [35]:
# Print the last element in the string named Tallest_mountain

print(Tallest_mountain[-1])

t

In [36]:
# Print the second last element in the string named Tallest_mountain

print(Tallest_mountain[-2])

s

Python function <code>len</code> can be used to find the length of the variables or  strings.

In [37]:
# Find the length of string

len(Tallest_mountain)

11

<h3 id="slice">Slicing</h3>

We can find the part of the strings using the subsequence of the index sequence. 
<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When we take the slice, the part start with the first index of the slicing part from the index sequence, and it 
    ends with the 1 unit before the last index assigned. 
</div>
<hr/>

In [38]:
# Take the slice on variable Tallest_mountain with only index 0 to index 2

Tallest_mountain[0:3]

'Mt.'

In [39]:
# Take the slice on variable Tallest_mountain with only index 4 to index 10

Tallest_mountain[4:11]

'Everest'

<h3 id="stride">Stride</h3>

We can also  input a stride value as follows, with the '3'. Here we are selecting every third variable from the strings:

In [40]:
# Get every third element. The elments on index 1, 4, 7 ...

Tallest_mountain[::3]

'M es'

We can also incorporate slicing with the stride. In this case, we select the first three elements and then use the stride:

In [41]:
# Get every second element in the range from index 0 to index 6

Tallest_mountain[0:7:2]

'M.Ee'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [42]:
# Concatenate two strings

Everest_info = Tallest_mountain + " is the tallest mountain in the world."
Everest_info

'Mt. Everest is the tallest mountain in the world.'

We can replicate the string by multiplying an integer.

In [43]:
# replicate the string Tallest_mountain 3 times
3 * Tallest_mountain

'Mt. EverestMt. EverestMt. Everest'

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [44]:
# New line escape sequence

print("Mt. Everest \n is the tallest mountain in the world." )

Mt. Everest
 is the tallest mountain in the world.

In [45]:
# Tab escape sequence

print("Mt. Everest \t is the tallest mountain in the world." )

Mt. Everest 	 is the tallest mountain in the world.

In [46]:
# Include back slash in string

print("Mt. Everest \\ is the tallest mountain in the world." )

Mt. Everest \ is the tallest mountain in the world.

In [47]:
# r will tell python that string will be display as raw string

print(r"Mt. Everest \ is the tallest mountain in the world." )

Mt. Everest \ is the tallest mountain in the world.

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

We can try with the method upper; this method converts lower case characters to upper case characters:

In [48]:
# Convert all the characters in string to upper case
Tallest_mountain = "Mt. Everest"
print("before upper:", Tallest_mountain)
B = Tallest_mountain.upper()
print("After upper:", B)

before upper: Mt. Everest
After upper: MT. EVEREST

In [49]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Mt. Everest"
B = A.replace('Everest', 'K2')
B

'Mt. K2'

In [50]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Tallest_mountain.find('Ev')

4

In [51]:
# Find the substring in the string.

Tallest_mountain.find('Everest')

4

If the sub-string is not in the string then the output is a negative one. For example, the string 'k2' is not a substring:

In [52]:
# Find the substring in the string which is not in there

Tallest_mountain.find('k2')

-1

<h1>Python Data structures</h1>

This section will describe basic data structures: tuples, list, sets and dictionaries that are used in Python programming.

<h2>Tuples in Python</h2>

<p> This section is about the tuples in the Python Programming Language. Now, we will use the basics tuple operations in Python, including indexing, slicing and sorting.</p>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#tuple">Tuples</a>
            <ul>
                <li><a href="index">Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="sort">Sorting</a></li>
            </ul>
        </li>
</div>
<hr>

<h2 id="tuple">Tuples</h2>

Different data types: string, integer and float in Python can be collectd in a single set in a form of tuple as follows:

In [53]:
# Create your first tuple

tuple1 = ("Everest",1, 8449.0, "m" )
tuple1

('Everest', 1, 8449.0, 'm')

In [54]:
# Print the type of the tuple you created

type(tuple1)

tuple

<h3 id="index">Indexing</h3>

Each element of a tuple can be accessed using it's index.

In [55]:
# print entries of tuple1 defined above

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])

Everest
1
8449.0
m

In [56]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))
print(type(tuple1[3]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [57]:
# Use negative index to get the value of the last element

tuple1[-1]

'm'

<h3 id="concate">Concatenate Tuples</h3>

In [58]:
# Concatenate two tuples
tuple1 = ("Everest", 8449.0, "m" )

tuple2 = tuple1 + ("the tallest mountain", 1)
tuple2

('Everest', 8449.0, 'm', 'the tallest mountain', 1)

<h3 id="slice">Slicing</h3>

We can slice tuples to obtain new tuples with the corresponding elements:

In [59]:
# Slice from index 0 to index 2

tuple2[0:3]

('Everest', 8449.0, 'm')

In [60]:
# Slice from index 3 to index 4

tuple2[3:5]

('the tallest mountain', 1)

In [61]:
# Get the length of tuple

len(tuple2)

5

<h3 id="sort">Sorting</h3>

In [62]:
# A sample tuple

Ratings = (0, 7, 6, 5, 10, 8, 9, 4, 9)

# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 4, 5, 6, 7, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple</h3>

Tuples can be combined with other tuples to get more complex data types.

In [63]:
# Create a nest tuple

NestedT =(("Everest", "K2") ,(8849,8611),("rank",(1,2)))
NestedT

(('Everest', 'K2'), (8849, 8611), ('rank', (1, 2)))

In [64]:
# Print element on each index, including nest indexes

print("Element 0, 0 of Tuple: ",   NestedT[0][0])
print("Element 1, 1 of Tuple: ",   NestedT[1][1])
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])

Element 0, 0 of Tuple:  Everest
Element 1, 1 of Tuple:  8611
Element 2, 0 of Tuple:  rank
Element 2, 1 of Tuple:  (1, 2)

<h1>Lists in Python</h1>

This section is about the lists in the Python Programming Language. We will describe the basics list operations in Python, including indexing, list operations and copy/clone list.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#list">Lists</a>
            <ul>
                <li><a href="index">Indexing</a></li>
                <li><a href="content">List Content</a></li>
                <li><a href="op">List Operations</a></li>
                <li><a href="co">Copy and Clone List</a></li>
            </ul>
        </li>
</div>

<hr>

<h2 id="list">Lists</h2>

List is also a collection of different data types: strings, integers and floats as in tuple. Those data objects are inclosed by <code> "[]" </code>.

<h3 id="index">Indexing</h3>

A list is also a sequence of collection of different objects. Each element within a list can be obtained using its <b>index</b>

In [65]:
# Create a list

L = ["Mt. Everest", "Height", 8849.0, "meters"]
L

['Mt. Everest', 'Height', 8849.0, 'meters']

In [66]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Mt. Everest
 Negative: Height
the same element using negative and positive indexing:
 Postive: Height
 Negative: 8849.0
the same element using negative and positive indexing:
 Postive: 8849.0
 Negative: meters

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [67]:
# Sample List

L = [["Mt. Everest","K2"], (1, 2), ("Nepal", "Pakistan"), "Asia"]

In [68]:
# List slicing

L[2:4]

[('Nepal', 'Pakistan'), 'Asia']

In [69]:
# Use extend to add elements to list

L.extend((8849,8611))
L

[['Mt. Everest', 'K2'], (1, 2), ('Nepal', 'Pakistan'), 'Asia', 8849, 8611]

In [70]:
# Use append to add elements to list

L.append(['First','Second'])
L

[['Mt. Everest', 'K2'],
 (1, 2),
 ('Nepal', 'Pakistan'),
 'Asia',
 8849,
 8611,
 ['First', 'Second']]

In [71]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [72]:
# Split the string, default is by comma

'hard,rock,duck'.split(",")

['hard', 'rock', 'duck']

<h1>Dictionaries in Python</h1>

This section will be about the dictionaries in the Python Programming Language. We describe the basics dictionary operations in Python.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dic">Dictionaries</a>
            <ul>
                <li><a href="key">Keys</a></li>
            </ul>
</div>

<hr>

<h2 id="Dic">Dictionaries</h2>

A dictionary contains keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

In [73]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [74]:
# Access to the value by the key

Dict["key1"]

1

In [75]:
# Access to the value by the key

Dict[(0, 1)]

6

In [76]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

<h3 id="key">Keys</h3>

We can assess the values based on the keys of the dictionary:

In [77]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [78]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [79]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [80]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [81]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [82]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [83]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

<h1>Sets in Python</h1>

Set is a collection of distinct objects. 
This section will describe about sets and sets operation in the Python Programming Language.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="content">Set Content</a></li>
         <li><a href="op">Set Operations</a></li>
         <li><a href="logic">Sets Logic Operations</a></li>
         </ul>
     </li>
</div>

<hr>

In [84]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [85]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [86]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

<h3 id="op">Set Operations</h3>

In [87]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [88]:
A.add("ABCD")
A

{'ABCD', 'AC/DC', 'Back in Black', 'Thriller'}

In [89]:
# Remove the element from set

A.remove("ABCD")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [90]:
# Verify if the element is in the set

"AC/DC" in A

True

<h3 id="logic">Sets Logic Operations</h3>

In [91]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [92]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [93]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [94]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [95]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [96]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [97]:
# Find the difference

difference = album_set1 - album_set2
difference

{'Thriller'}

In [143]:
# Find the union

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [144]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [149]:
# Check if superset

set(album_set1).issuperset(difference)

True

In [145]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [150]:
# Write your code below and press Shift+Enter to execute
list_to_set = set(['rap','house','electronic music', 'rap'])
list_to_set

{'electronic music', 'house', 'rap'}

In [151]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1] 
B = set([1, 2, 2, 1])
sum(A) == sum(B)
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

<h1>Conditions in Python</h1>

Conditional statements are very useful to define specific constraints or rules in programming languages. Such conditional statements can be used in comparision and branching. We mainly use condition oprators if, else if, else to check whether the specified conditions satisfy.

Based on the condition statements we can define comparison operators to compare some values or varaibles. The comparison operators produce the Boolean values: <code>True</code> or  <code>False</code>. The most common comparison ( or logical ) operators are :
<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [3]:
# Condition equal

x = 7
y = 6
x == y

False

In [5]:
# Condition greater

x = 7
y = 6
x > y

True

In [6]:
# Inequality Sign

x = 7
x != 6

True

In [9]:
# Use Equality sign to compare the strings

"Mt. K2" == "Mt. Everest"

False

In [10]:
# Use Equality sign to compare the strings

"Mt. K2" != "Mt. Everest"

True

In [14]:
# If statement example

x = 5

#expression that can be true or false
if x%2 == 0:
    
    #within an indent, we have the expression that is run if the condition is true
    print("x is even" )
else:
     #within an indent, we have the expression that is run if the condition is False
    print("x is odd")

x is odd

In [80]:
# Elif statment example
kids_age = 4
if kids_age < 1:
    print("Infant")
elif kids_age <4:
    print("Toddler")
else:
    print("ready to go school")

ready to go school

In [93]:
Food_order = ["Food", "drink"]

#Food_order = "chips"

if "Food" in Food_order and "drink" in Food_order:
    print("combo order")
elif "Food" in Food_order:
    print("Food order only")
elif "drink" in Food_order:
    print("drink order only")
else:
    print("something else")

combo order

In [153]:
# check sum is even or odd
x, y = 4, 7
if x%2 == 0 and y%2 == 0: #both are odds
    print("sum is even")
elif x%2 != 0 and y%2 != 0: #both are odds
    print("sum is even")
else:
    print("sum is odd")

sum is odd

<h2>Loops in Python</h2>

Loops are highly useful for iterating over a any kind of sequence objects such as list, tuple,  dictionary, set, or string.

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#loop">Loops</a>
            <ul>
                <li><a href="range">Range</a></li>
                <li><a href="for"> <code>for</code> loop</a></li>
                <li><a href="while"><code>while</code> loop</a></li>
            </ul>
        </li>
</div>

<hr>

2+3

In [2]:
# for dropdown menu
%config IPCompleter.greedy = True

In [3]:
#to get menu put . after the object and then press tab, you will see the drop down menu
a = 5
a.bit_length()

3

In [7]:
#find Docstring of the functions
# finding the docsting will help us to understnd the argments of the functions
?print

In [6]:
?type

In [11]:
#we can try function->shift->tab
print

In [16]:
#built in functions in python
#dir(__builtins__)

- jupyter lab allow to copy cells from one notebook to another but not by the jupyter notebook
- help short cut key are in note book
- find and replace are in note book but not in lab

- Find and replace: Go to edit at the top (next to file) and drop down to see find and replace

- enter m to change the cell to markdown cell
- enter y to get back to code cell
- enter esc a to insert a cell above and esc b to enter a cell below
- d d twice to delete the cell

- f strings works as the same job as fromat function does

In [25]:
work_exp = 5
name = "Sam"
print("My name is {} and my work experience is {} years".format(name, work_exp))

My name is surya and my work experience is 5 years

In [26]:
print(f"My name is {name} and my work experience is {work_exp} years")

My name is surya and my work experience is 5 years

- Link
https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/

## List 

- that can take hetrogeneous data structures (various data types are allowed)

- to find the info of an object or function press object -> shift -> tab